<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<nav class="nav">
	        <ul>
	          <li>
	            <a href="http://localhost:8080/product/all">All Products</a>
	          </li>
	          <li>
	          <a href="http://localhost:8080/product/test">Product test</a>
	          </li>
	          <li>
	            <a href="http://localhost:8080/hello/msg">Hello msg</a>
	          </li>
			  <li>
			   <a href="http://localhost:8080/product/insert">Insert product</a>
			  </li>
			  <li>
	        </ul>
	      </nav>
  <head>
    <title>Grocery store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  </head>

  <body>
  
    <p style="color:red;"th:text="${msg}"></p>
  
  </body>

</html>