<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
  <head>
    <title>Product/insert> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="http://localhost:8080/product/all">All Products</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="http://localhost:8080/product/test">Product Test</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="http://localhost:8080/hello/msg">Hello Message</a>
		      </li>
		    </ul>
		  </div>
		</nav>

	<p>Insert product</p>
		<form action="#" th:action="@{/product/insert}" th:object="${product}" th:method="post"  >
			
			<table>
				<tr>
					<td>Title</td>
					<td> <input type="text" th:field="*{title}"  />  </td>
					<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  ></td>
				</tr>
				
				<tr>
					<td>Description</td>
					<td> <input type="text" th:field="*{description}"  />  </td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"  ></td>
				</tr>
				
				<tr>
					<td>Price</td>
					<td> <input type="text" th:field="*{price}"  />  </td>
					<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"  ></td>
				</tr>
				
				<tr>
					<td>Quantity</td>
					<td> <input type="text" th:field="*{quantity}"  />  </td>
					<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"  ></td>
				</tr>
				
				<tr>
					<td></td>
					<td> <input type="submit" title="save" />  </td>
				</tr>
			</table>
			
		</form>
  
  </body>

</html>