
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Grocery store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  </head>

  <body>
	<nav class="nav">
	        <ul>
	          <li>
	            <a href="http://localhost:8080/product/all">All Products</a>
	          </li>
	          <li>
	          <a href="http://localhost:8080/product/test">Product test</a>
	          </li>
	          <li>
	            <a href="http://localhost:8080/hello/msg">Hello msg</a>
	          </li>
			  <li>
			   <a href="http://localhost:8080/product/insert">Insert product</a>
			  </li>
	        </ul>
			
	      </nav>
  
    <p th:text="${myobj.getId()}"></p>
	<p th:text="${myobj.getTitle()}"></p>
	<p th:text="${myobj.getPrice()}"></p>
	<p th:text="${myobj.getQuantity()}"></p>
	<p th:text="${myobj}"></p>
  </body>

</html>