<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="http://localhost:8080/product/all">All Products</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="http://localhost:8080/product/test">Product Test</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="http://localhost:8080/hello/msg">Hello Message</a>
	      </li>
	    </ul>

		<form class="form-inline" action="/product/info/filter/text" method="GET">
		    <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

	  </div>
	</nav>
	<h3 th:text = "${mytitle}"></h3>
	
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>Title</th>
	            <th>Description</th>
	            <th>Price</th>
	            <th>Quantity</th>
	            <th>Update</th>
	            <th>Delete</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="myobj : ${myobjs}">
	            <td th:text="${myobj.id}"></td>
	            <td th:text="${myobj.title}"></td>
	            <td th:text="${myobj.description}"></td>
	            <td th:text="${myobj.price}"></td>
	            <td th:text="${myobj.quantity}"></td>
	            <td>
	                <a th:href="@{/product/update(id=${myobj.id})}" class="btn btn-primary btn-sm" target="_self">Update</a>
	            </td>
	            <td>
	                <a th:href="@{/product/delete(id=${myobj.id})}" class="btn btn-danger btn-sm" target="_self">Delete</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<a th:href="@{/product/insert}" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;" target="_self">Insert</a>


</body>

</html>